.basket-container {
    display: flex;
    flex-direction: column;
    margin-top: 9px;
}

.basket-total {
    background-color: white;
    padding: 20px 20px;
     margin: 20px 0px;
    padding-top: 10px;
    height: 210px;
}

.basket-separator {
    padding-top: 90px;
}

.basket-total-buttons {
    display: flex;
    flex-direction: column;
}

.basket-total-buttons > button {
    cursor: pointer;
    border: solid;
    padding: 8px 30px;
    background-color: black;
    border-radius: 8px;
    font-size: 28px;
    color: white;
    transition: 0.2s;
}

.basket-total-validate {
    margin-bottom: 10px;
}

.basket-total-validate:hover {
    border: solid black;
    background-color: transparent;
    color: black;
}

.basket-total-delete:hover {
    border: solid black;
    background-color: transparent;
    color: black;
}

.basket-empty {
    border-radius: 10px;
    padding: 5px 25px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px 50px;
}

.basket-empty-btn {
    cursor: pointer;
    border: solid;
    background-color: black;
    border-radius: 8px;
    font-size: 28px;
    color: white;
    transition: 0.2s;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.basket-empty-btn:hover {
    border: solid black;
    background-color: transparent;
    color: black;
}

.basket-empty-separator {
    padding-top: 80px;
}

@media (max-width:800px) { 
    .basket-separator {
        display: block;
    }

    .basket-container {
        width: 100%;
    }
}    

@media (min-width:800px) { 
    .basket-separator {
        display: flex;
    }

    .basket-container {
        width: 80%;
    }

    .basket-total {
        margin-right: 20px;
        width: 20%;
    }
}